a,p,h1,h2,h3,h4,h5,h6{
    color: white;
}

img{
    width: 500px;
    margin: 4rem;
    border: 3px solid white;
    box-shadow: 10px 10px 10000px gold;
}

.bookDescription{
    text-align: right;
    float: right;
}

@media only screen and (max-width:1024px) {
    .infoArea{
        margin-left: 5rem;
    }
  }

li{
    color:white;
    text-align: left;
}